/*
############################################
##
##		Fonts and General Styles
##
############################################
*/


html, body {
	--border-color: #001ba5;
	--text-darkred: #a00312;
	--text-red: #f11;
	min-height: 100%;
    max-width: 100%;
	bottom:0;

	font: 200 0.95em/1 "Lato", sans-serif;
	/*font-family:"PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;*/
}

footer{
	position:relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 767px) {
	
	html, body {
		max-width: 100%;
		height: 100%;
		font: 400 0.95em/1.3 "Lato", sans-serif;
	}
}

.text-darkred{
	color: var(--text-darkred);
}
.text-red{
	color: var(--text-red);
}
.bg-darkred{
	background-color: var(--text-darkred);
}
.bg-red{
	background-color: var(--text-red);
}

.background-slide-up {
	background: linear-gradient(to bottom, rgba(255,0,0,0) 50%,  red 50% );
    background-size: 100% 200%;
    background-position:right top;
    transition:all 0.3s ease;
}
.background-slide-up:hover {
    background-position:right bottom;
	color:#dff;
}

.clickable, .clickable:hover{
  cursor: pointer;
  overflow:hidden;
}

.topnav .nav-link {
	color:var(--text-darkred);
	transition:all 0.3s ease;
}

.topnav li:hover .nav-link {
	color:#fff;
}

@media (max-width: 768px) { 
	.topnav li {
		color:var(--text-darkred);
		text-align: center;
		text-decoration: none;
		font-size: 1.1rem;
		background: linear-gradient(to left, rgba(255,0,0,0) 50%,  red 50% );
		background-size: 200% 100%;
		background-position:right bottom;
		transition:all 0.4s ease;
	}
	.nav-item, .navbar{
		border-bottom: 1px solid red;
	}
	.topnav li:hover{
		background-position:left bottom;
		color:#dff;
	}
}
@media (min-width: 768px) { 
	.topnav li{
		border-left: 1px solid red;
		text-align: center;
		text-decoration: none;
		padding: 0.5rem 1rem 0.5rem 1rem;
		font-size: 1.1rem;
		background: linear-gradient(to top, rgba(255,0,0,0) 50%,  red 50% );
		background-size: 100% 200%;
		background-position:right bottom;
		transition:all 0.3s ease;
	}
	.topnav li:hover:not(.active-nav) {
		background-position:right top;
		color:#dff;
	}
}

.project-button {
	background-color: var(--text-red);
	border: 2px solid var(--text-red);
	color:#fff;
	font-size:1.1rem;
	font-weight: 100;
	padding:0.5em 0.8em;
	margin-top: 0.8em;
	margin-bottom: 0.6em;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}

.project-button:hover {
	background-color: #fff;
	border: 2px solid var(--text-red);
	color:var(--text-red);
	text-decoration: none;
}

.iframe-embed {
	top: 0;
	left: 0;
	width: 100%;
	min-height: 80vh;
}
