$border-color:#001ba5;
html, body {
    max-width: 100%;
    overflow-x: hidden;
	height: 100%;
	font: 400 1em/1.5 "Lato", sans-serif;
}

.container-fullview {
  width:100vw;
  min-height:100vh;
  max-height:100vh;
  overflow:hidden;
  background: black;
}

.modal-background{
	background-color: rgba(0,0,0,0.3);
}

.modal-body{
	img{
		max-height: calc(100vh - 5rem);
		width:auto;
		max-width: calc(100vw - 1rem);
	}
}


.carousel-item {
	.img-fill{
		min-width: 100%;
		min-height: 100%;
		height: 100%;
	}
}

.carousel-caption {
  position: absolute;
  right: 15%;
  top:70%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

.carousel-overlay{
	@extend .carousel-caption;
	top: 15%;
}

.navbar-toggler {
	cursor: pointer;
}

.body-spaced{
	line-height: 2;
}


.preloader {
	pointer-events: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("loader-64x/Preloader_2_transparent.gif") center no-repeat;

}
.preloader-fill {
	@extend .preloader;
	background: #fff;
	z-index: 8999;
}


.parallax-background  {
	position: relative;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	
}

.rounded {
	border-radius: 50%;
	overflow:hidden;
}



/* Background Images */
.background-mountain-blue{
	min-height: 100vh;
	opacity: 0.85;
	background-image: url("../img/mountain-blue-1920x1080.jpg");

}

.background-table{
	min-height: 50vh;
	opacity: 0.95;
	background-image: url("../img/table-1920x1080.jpg");
	color: #fff;
}

.background-toronto{
	min-height: 30vh;
	opacity: 0.65;
	background-image: url("../img/toronto-1920x1080.jpg");
	color: #000;
}


/* Fonts N Stuff*/
.parallax-caption {
  position: absolute;
  opacity: 0.85;
  top:40%;
  left: 15%;
  width: 75%;
  text-align: center;
}

.parallax-caption-big{
	@extend .parallax-caption;
	top:40%;
	width: 100%;
}

.parallax-text {
	padding-top: 1em;
	padding-bottom: 3em;
}

.small-title {
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font: 2em "Lato", sans-serif;
  color: #111;
}


.caption-title{
  letter-spacing: 0.3em;
  text-transform: uppercase;
  font: 1.8em "Lato", sans-serif;

}

.huge-title {
	font-size: 6.5vw;
	background-color: #123;
	color: #fff;
	padding: 0.5em 0.4em 0.5em 0.8em;
	letter-spacing: 0.4em;
	font-weight: 3.5em;
}


.hover-overlay p {
	line-height: 1.5em;
}


